<app-manager-component-container [title]="title">
  <div class="p-2">
    <p-inputNumber
      fluid
      name="newMoneyAtPeriodStart"
      [min]="0"
      mode="currency"
      currency="EUR"
      locale="fr-FR"
      inputId="newMoneyAtPeriodStart"
      [(ngModel)]="newMoneyAtPeriodStart"
      placeholder="Nouveau montant en €"
      [showButtons]="true" buttonLayout="horizontal"
    [invalid]="newMoneyAtPeriodStart === 0" />
  </div>

  <p-button fluid (onClick)="updateInitialMoney()" [disabled]="newMoneyAtPeriodStart === undefined || newMoneyAtPeriodStart === 0" severity="info">Metttre à jour</p-button>
</app-manager-component-container>
