<!-- Confirm dialog -->
<p-confirmdialog />

<app-main-container>

  <!--Titre-->
  <header class="py-6 flex w-full justify-content-center">
    <h2 class="text-center">Modification de l'image du compte</h2>
  </header>

  <div class="p-5">
    <!-- Modification de l'image -->
      <div class="shadow-1 p-5 mb-5">
        <div class="p-2">
          <p> Modification de prénom de l'enfant </p>
        </div>
        <input
      #inputFile accept=".jpg, .jpeg, .png"
      type="file"
      (change)="loadSelectedFile(inputFile?.files?.[0])"
        style="display:none;" />

        <div class="w-full flex flex-column align-items-center justify-content-center p-5">
          <img src="blob:http://localhost:4200/07309b73-1514-4880-82f5-599b5ee2941f"/>
        </div>

        <div class=" pt-4 flex justify-content-center">
          <p-button [outlined]="true" severity="info" label="Sélectionner une photo" (click)="inputFile.click()"/>
        </div>

        <div class="p-2">
          <p-button fluid (onClick)="updatePhoto()" severity="info">Enregistrer</p-button>
        </div>
      </div>

    <!-- Modification du nom de l'enfant -->
    <div class="shadow-1 p-5 mb-5">
      <div class="p-2">
        <p> Modification de prénom de l'enfant </p>
      </div>

      <div class="p-2">
        <input [(ngModel)]="newChildName" type="text" pInputText fluid/>
      </div>

      <p-button fluid (onClick)="updateChildName()" [disabled]="newChildName === undefined || newChildName === ''" severity="info">Metttre à jour</p-button>
    </div>


    <!-- Modification argent de poche initial-->
    <div class="shadow-1 p-5 mb-5">
      <div class="p-2">
        <p> Modification de l'argent de poche initial </p>
      </div>

      <div class="p-2">
        <p-inputNumber
          fluid
          name="newMoneyAtPeriodStart"
          [min]="0"
          mode="currency"
          currency="EUR"
          locale="fr-FR"
          inputId="newMoneyAtPeriodStart"
          [(ngModel)]="newMoneyAtPeriodStart"
          placeholder="Nouveau montant en €"
          [showButtons]="true" buttonLayout="horizontal"
        [invalid]="newMoneyAtPeriodStart === 0" />
      </div>

     <p-button fluid (onClick)="updateInitialMoney()" [disabled]="newMoneyAtPeriodStart === undefined || newMoneyAtPeriodStart === 0" severity="info">Metttre à jour</p-button>
    </div>

    <!-- Reinitilasation argent de poche restant-->
    <div class="shadow-1 p-5 mb-5">
      <div class="p-2">
        <p> Reinitialisation argent de poche restant </p>
      </div>
      <div class="p-2">
        <p>{{ childMoneyAccount.remainingMoney | currency: 'EUR'}}</p>
      </div>
      <p-button fluid (onClick)="reinitializeRemainingMoney()" severity="info"> Réinitialiser l'argent de poche restant </p-button>
    </div>
  </div>
</app-main-container>
