<app-main-container>
  <!--Redirection-->
  <button (click)="redirect()" class="m-2 surface-0 sticky ml-auto top-0 shadow-4 border-circle w-2rem h-2rem cursor-pointer border-none">X</button>

  <div class="p-5">

    <!--Titre-->
    <header class="pb-6 flex w-full justify-content-center">
      <h2 class="text-cyan-500 text-center">Modification de l'image du compte</h2>
    </header>

    <!-- Modification de l'image -->
    <app-manager-child-image [childImageUrl]="childImageurl" [parentId]="parentId" [childMoneyAccount]="childMoneyAccount" title="Modification de l'image du compte"></app-manager-child-image>

    <!-- Modification du nom de l'enfant -->
    <app-manager-child-name [parentId]="parentId" [childMoneyAccount]="childMoneyAccount" title="Modification de prénom de l'enfant"></app-manager-child-name>

    <!-- Modification argent de poche initial-->
    <app-manager-initial-money [parentId]="parentId" [childMoneyAccount]="childMoneyAccount" title="Modification de l'argent de poche initial"></app-manager-initial-money>

    <!-- Reinitilasation argent de poche restant-->
    <app-manager-remaining-money [parentId]="parentId" [childMoneyAccount]="childMoneyAccount"  title="Reinitialisation argent de poche restant"></app-manager-remaining-money>

    <!--Affichage QR code-->
    <app-qr-code [childMoneyAccount]="childMoneyAccount" [parentId]="parentId" title="Le QR code pour accéder au compte"></app-qr-code>

    <!-- Désactivation du compte-->
    <app-desactivate-child-account [parentId]="parentId" [childMoneyAccount]="childMoneyAccount"  title="Désactivation du compte d'argent de poche"></app-desactivate-child-account>

  </div>
</app-main-container>
