<div (click)="redirectToChildAccountPage()" class="w-12rem p-5 shadow-6 cursor-pointer w-full flex flex-column align-items-center">
  <div>
    @if(childImageUrl) {
      <div class="image--wrapper">
        <img
          [ngSrc]="childImageUrl"
          fill
          placeholder="placeholder"
          class="image"
          priority
          alt="">
      </div>
      } @else {
        <!-- Image de Chargement-->
        <div class="image--wrapper">
          <img
            [src]="placeholder"
            class="image"
            alt="une image de chargement">
        </div>
      }
  </div>
  <!--L'image du compte -->
  <div class="w-full p-4 flex justify-content-center align-items-center white-space-nowrap overflow-hidden text-overflow-ellipsis">
    <p class="">{{ childAccount.name |capitalize}}</p>
  </div>
</div>
