<div (click)="redirectToChildAccountPage()" class="w-12rem p-5 shadow-6 cursor-pointer w-full flex flex-column align-items-center">
  <div>
    @if(childImage$ | async; as childImage) {
      <div class="image--wrapper">
        <img
          [ngSrc]="childImage"
          fill
          placeholder="placeholder"
          class="image"
          priority
          alt="">
      </div>
      }

  </div>
  <!--L'image du compte -->
  <div class="w-full p-4 flex justify-content-center align-items-center white-space-nowrap overflow-hidden text-overflow-ellipsis">
    <p class="">{{ childAccount.name |capitalize}}</p>
  </div>
</div>
