<!--Animation chute de pièce-->
@if(isDisplayCoinAnimation$ | async;) {
  <div class="z-3  w-full fixed flex justify-content-center align-items-center top-0">
    <div class="fixed w-full m-width-1024">
      <div class="artifice">
        <div class="coin1">1</div>
        <div class="coin2">2</div>
        <div class="coin2">2</div>
        <div class="coin1">1</div>
        <div class="coin1">1</div>
        <div class="coin1">2</div>
        <div class="centime">5</div>
        <div class="centime">10</div>
        <div class="centime">20</div>
        <div class="centime">5</div>
      </div>

      <div class="artifice--right">
        <div class="coin1">1</div>
        <div class="coin2">2</div>
        <div class="coin1">1</div>
        <div class="coin1">1</div>
        <div class="coin2">2</div>
        <div class="coin1">1</div>
        <div class="centime">5</div>
        <div class="centime">10</div>
        <div class="centime">20</div>
        <div class="centime">5</div>
      </div>
    </div>
  </div>
}
