<app-manager-component-container [title]="title">
   <input
      #inputFile accept=".jpg, .jpeg, .png"
      type="file"
      (change)="loadSelectedFile(inputFile?.files?.[0])"
      style="display:none;" />

      <div class="w-full flex flex-column align-items-center justify-content-center p-5">
        <img src="blob:http://localhost:4200/07309b73-1514-4880-82f5-599b5ee2941f"/>
      </div>

      <div class=" pt-4 flex justify-content-center">
        <p-button [outlined]="true" severity="info" label="Sélectionner une photo" (click)="inputFile.click()"/>
      </div>

      <div class="p-2">
        <p-button fluid (onClick)="updatePhoto()" severity="info">Enregistrer</p-button>
      </div>
</app-manager-component-container>
