/* You can add global styles to this file, and also import other style files */
@font-face {
font-family: 'raleway';
src: url('./../public/font/Raleway.ttf');
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'raleway', 'arial', sans-serif;
}

.m-width-1024 {
  max-width: 1024px;
}
